<section class="footer">
    <div class="footer_logo">
      <img height="60" src="/images/footer.png" alt="">
      <p>Provide your search Weather</p> <br>
    </div>
    <hr>
    <div class="footer_h1">
      <h1>2022-2023 © Weather. All rights reserved</h1> <br>
    </div>
</section>